<a href="https://colab.research.google.com/github/Anjelene-antonisamy/Python-Data/blob/main/Copy_of_DataTypes3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings

---
### Exercise 1 input and strings
**Recap**: to get input from the user and store it in a variable, use the instruction  

*variableName = input("message asking user for required information")*  

*Remember: Unless you state otherwise, all input is String data*  

Write a function called **print_initials()** which will:

*  ask the user to input a **first_name**  
*  ask the user to input a **middle_name**  
*  ask the user to input a **surname**  
*  print the name in the format: `surname`, `first_name` `middle_name`  

Test Inputs:  
Peter  
Barry  
Burrows  

Expected output:  
Burrows, Peter Barry

In [1]:
fm=input("enetr first name")
mm=input("enter middle name")
sn=input("enter surname")
print(fm , mm , sn)

enetr first namePeter
enter middle nameBarry
enter surnameburrows
Peter Barry burrows

# Substrings

---

A String is a set of characters. Each String has a length and each character in the string has a position or index. Indexing starts at 0 so the first character of a String is at position 0. As Strings have varying lengths, the last character of the String is at position -1. To find any character in the String, count from 0 or, if you want to count backwards from the end, count back from -1.  

You can get a particular character, or a set of consecutive characters (substring) from a String using [] and the positions of the characters you want.  

Example:  
To get the first letter of a String (in this case the String is called **name**)
**first_letter** = `name`[0]  
**second_letter** = `name`[1]  
**sixth_letter** = `name`[5]  

To get the last letter of name:  
**last_letter** = `name`[-1]  
**second_last_letter** = `name`[-2]  
**third_last_letter** = `name`[-3]  

Have a go

In [1]:
def print_letters():
   name = "Robert"
   # add your code below here to get a particular letter and print it.
   second_letter=name[1]
   sixth_letter=name[5]
   print(second_letter , sixth_letter)
   last_letter=name[-1]
   print(last_letter)










print_letters()

o t
t

To get a set of letters from a String, use the slice operator.  

*substring = stringname[ index of first letter to be included_ : index + 1 of last letter ]*

Example:  

**first_three_letters** = `name`[0:3]  
**second_to_fifth_letters** = `name`[1:5]  
**last_three_letters** = `name`[-3:]  

*Note: we can't add 1 to -1 as the result would be 0 and confused with the first letter, so we omit the second number to indicate that we want all characters to the end of the string*

In [4]:
def print_substrings():
   name = "Robert"
   # add your code below here to get a particular letter, or set of letters and print them.
   first_three_letters=name[0:3]
   print(first_three_letters)
   second_to_fifth_letters=name[1:5]
   print(second_to_fifth_letters)
   last=name[-3:]
   print(last)

print_substrings()

Rob
ober
ert

---
### Exercise 2 - substrings

Write a function called **print_substring()** which will:

Ask the user to input a **name** of at least 5 letters  
Print the **first** and the **fourth** letters in the `name`  

Test Inputs:  
Bartholomew  

Expected output:  
First letter is B, fourth letter is t

In [7]:
name=(input("enter 5 letter name"))

first=name[0]
fourth=name[3]
print(first , fourth)

enter 5 letter nameBartholomew
B t

---
### Exercise 3  - Formatting String output  

Write a function called **print_formatted()** which will:  

*  ask the user to input a **house_number**
*  ask the user to input a **road_name**, then a **town**, then a **postcode**  
*  print the address on three lines (`house_number` with a comma and `road_name`, `town`, `postcode`)  

Test Input:  
10  
Old Road  
Chatham  
ME4 1AA  

Expected output:   
10, Old Road  
Chatham  
ME4 1AA

In [13]:
house=input("enter house number:")
Road=input("enter road:")
town=input("enter town:")
postcode=input("postcode")
print(house, Road, town, postcode)

enter house number:10
enter road:Old road
enter town:Chatham
postcodeME4 1AA
10 Old road Chatham ME4 1AA

# String functions

## String length

You can get the length of a String using the len() function   
e.g. **namelength** = len(`name`)

---
### Exercise 4 - String length  

Write a function called **print_namelength()** which will:  

*  ask the user to input a **name**  
*  assign the length of the name to a variable called **name_length**  
*  print the `name` followed by a comma, then `name_length`, then the word “characters”.

Test Input:  
William  

Expected Output:  
William, 7 characters

In [19]:
name=input("name")
name_length=len(name)
print(name, name_length , "characters")

nameWilliam
William 7 characters

## String Case Conversion  

When you start to compare and search for strings, you will need to be aware that data doesn’t always turn up in the state we would like it.  People often forget to use capital letters at the beginning of their names and will sometimes use all capitals.  It is useful, therefore, to be able to convert a String either to all capitals or all lowercase, depending on how you want to see it.  

There are three functions for this, which are linked to the String (here the String variable is called **name**).  

*   **upper_case_name** = `name.upper()`
*   **lower_case_name** = `name.lower()`
*   **capitalised_name** = `name.capitalize()`

---
### Exercise 5 - case conversion  

Write a function called **convert_to_capitals()** which will:  

*  ask the user to input a **name** in lowercase letters
*  assign the capitalised String to the variable **capitalised_name**
*  print the `name` in capitals  

Test Input:  
jaswinder  

Expected output:  
JASWINDER

In [26]:
name=input("enter lowercase")
capitalised_name=name.upper()
print(capitalised_name)

enter lowercasejaswinder
JASWINDER

---
###Exercise 6 - case conversion  

Write a function called **capitalise_names()** which will:  

*  ask the user to input a **name** and a **surname**  
*  print both `name` and `surname` in lowercase with a capital letter at the start, even if they didn't have capitals when they were typed in  

Test Input:  
benJamIN  

Expected output:  
Benjamin

In [27]:
name=input("name and surname")
capitalised_name=name.capitalize()
print(capitalised_namepost)

name and surnamebenjamin
Benjamin

---
### Exercise 7 - Substrings

Write a function called **print_postcode_letters()** which will:   

*  ask the user to enter a **postcode**  
*  assign the first two letters of the postcode to a variable called **postcode_area**  
*  convert the `postcode_area` String to capital letters and assign this to a variable called **capitalised_area**  
*  print the `capitalised_area`  

Test Input:  
Me4 6bb  

Expected output:  
ME

In [79]:
postcode=input("postcode")
postcode_area=postcode[:2]
capitalised_area=postcode_area.upper()
print(capitalised_area)

postcodeme4 6bb
ME

---
### Exercise 8 - Floor division and slicing

Write a function called **print_half_word()** which will:

*  ask the user to enter a **word**  
*  assign the value of half the length of the `word` to a variable called **half_length**  
*  assign the first half of the `word` to a new variable called **half_word**  
*  print `half_word`  

*Hint:  when dividing the length of the word by 2, use floor division (//) so that you get a whole number of letters).  To get the first half of the word, use word[0:halfLength]*  

Test input:  
Runtime  

Expected output:  
Run

In [39]:
word=input("enter word")
half_length=len(word) // 2
half=word , half_length
print(half)
word=input("enter word")
half_word=word[0:half_length]
print(half_word)

enter wordRuntime
('Runtime', 3)
enter wordRuntime
Run

---
### Exercise 9 - String repetition

Write a function called **repeat_two_letters()** which will:

*  ask the user to enter a **word**  
*  assign the last two letters of the `word` to a variable called **last_two**  
*  assign a string made of 5 copies of the `last_two` (*Hint: `last_two`* * 5 *will do it)* to a variable called **five_copies**  
*  print `five_copies`

Test Input:
Data

Expected output:
tatatatata

In [81]:
word=input("enter")
last_two=word[2]
last_three=word[3]
print((last_two,  last_three ) *5)

enterData
('t', 'a', 't', 'a', 't', 'a', 't', 'a', 't', 'a')

---
### Exercise 10 - converting String to lower case

Write a function called **lowerCase_threeLetters()** which will:  

*  assign the value “january” to a variable called **month**  
*  assign the first three characters of `month` to a variable called **month_short**   
*  capitalise `month_short` and store the result back in `month_short`
*  assign the rest of the characters to a variable called **month_rest**  
*  join `month_short` and `month_rest` together and store the result back into the variable `month`  
*  print `month`  

Expected output:  
JANuary

In [88]:
month="january"
month_short=month[0:3]
capital=month_short.upper()
print(capital)
month_rest=month[3:7]
print(capital,month_rest)

JAN
JAN uary